@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: #000;
}

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

.main {
  background-image: url(images/header-image.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  position: relative;
}

.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.69;
  background: #000;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  max-width: 60vw;
  margin: auto;
  align-items: center;
  height: 62px;
  justify-content: space-between;
}

nav img {
  color: red;
  width: 114px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "material sans", sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 30px;
  text-align: center;
}

.hero > :nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-weight: bolder;
  font-size: 48px;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
}

.separation {
  height: 7px;
  background: rgb(46, 44, 44);
}
.btn {
  padding: 3px 8px;
  font-weight: bold;
  background: white;
}
.btn-red {
  background: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border: 4px;
}
.main input {
  padding: 3px 24px;
  font-size: 20px;
  border: 4px;
  background: rgba(23,23,23,0.2);
}
.btn-red-sm {
  background: red;
  color: white;
}
